<!DOCTYPE html>
<html ng-app="app">
<head>
    <meta charset="utf-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="https://pro.fontawesome.com/releases/v5.10.0/css/all.css" integrity="sha384-AYmEC3Yw5cVb3ZcuHtOA93w35dYTsvhLPVnYs9eStHfGJvOvKxVfELGroGkvsg+p" crossorigin="anonymous" />
    <title>Sistema de tickes</title>
    @Styles.Render("~/Content/css")
    @Scripts.Render("~/bundles/modernizr")

    <style>

        body {
            padding-top: 0;
        }

        .navbar {
            border-radius: 0;
        }
    </style>

</head>
<body>
	<!-- Navabr -->
	<nav class="navbar navbar-inverse" style="z-index:2">
		<div class="container-fluid">
			<div class="navbar-header">
				<button type="button" class="navbar-toggle" data-toggle="collapse" data-target="#myNavbar">
					<span class="icon-bar"></span>
					<span class="icon-bar"></span>
					<span class="icon-bar"></span>
				</button>
				<a class="navbar-brand" href="#">Sistema Tickets</a>
			</div>
			<div class="collapse navbar-collapse" id="myNavbar">				
				<form ng-controller="UsuariosController" class="navbar-form navbar-right">
					<div class="form-group">
						<input type="text" class="form-control" ng-model="modeloUsuario.usuario" placeholder="usuario">
					</div>
					<div class="form-group">
						<input type="password" class="form-control" ng-model="modeloUsuario.password" placeholder="password">
					</div>
					<button type="button" class="btn btn-success"ng-click="AutenticarUsuario()">Ingresar</button>
				</form>
			</div>
		</div>
	</nav>

	<!-- body -->
	<div class="container-fluid body-content">

		@RenderBody()

		<hr />
		@*<footer>
				<p>&copy; @DateTime.Now.Year - My ASP.NET Application</p>
			</footer>*@
	</div>

	@Scripts.Render("~/bundles/jquery")
	@Scripts.Render("~/bundles/bootstrap")

	<script src="~/Scripts/angular.min.js"></script>
	<script src="~/Scripts/angular-route.min.js"></script>
	<script src="https://cdnjs.cloudflare.com/ajax/libs/toastr.js/latest/toastr.min.js" integrity="sha512-VEd+nq25CkR676O+pLBnDW09R7VQX9Mdiij052gVCp5yVH3jGtH70Ho/UUv4mJDsEdTvqRCFZg0NKGiojGnUCw==" crossorigin="anonymous" referrerpolicy="no-referrer"></script>


	<!-- Controladores y servicios Angular js -->
	<script src="~/App/app.js"></script>

	<script src="~/App/Usuario/UsuariosController.js"></script>
	<script src="~/App/Usuario/UsuarioFactory.js"></script>

	<script src="~/App/Tickets/TicketsControlle.js"></script>
	<script src="~/App/Tickets/TicketFactory.js"></script>

    <script src="~/App/Sistemas/SistemaFactory.js"></script>
    <script src="~/App/Sistemas/SistemasController.js"></script>

    <script src="~/App/Empleados/EmpleadoFactory.js"></script>
    <script src="~/App/Empleados/EmpleadosController.js"></script>

    <script src="~/App/Home/HomeController.js"></script>
	@RenderSection("scripts", required: false)
</body>
</html>
